<h2>All Grads</h2>




<%= link_to '+ New Grad', new_grad_path, class: 'btn btn-success' %>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Student #</th>
      <th>Email</th>
      <th>Graduation Date</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grads.each do |grad| %>
      <tr>
        <td><%= grad.first_name %></td>
        <td><%= grad.last_name %></td>
        <td><%= grad.student_num %></td>
        <td><%= grad.email %></td>
        <td><%= grad.graduation_date %></td>
        <td><%= grad.notes %></td>
        <td><%= link_to 'Show', grad %></td>
        <td><%= link_to 'Edit', edit_grad_path(grad) %></td>
        <td><%= link_to 'Destroy', grad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

