<h1>Award Ceremonies</h1>

<%= link_to '+ New Award Ceremony', new_award_ceremony_path, class: 'btn btn-success' %>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Ceremony</th>
      <th>Is Major Ceremony?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @award_ceremonies.each do |award_ceremony| %>
      <tr>
        <td><%= award_ceremony.ceremony %></td>
        <td><%= award_ceremony.isMajor %></td>
        <td><%= link_to 'Show', award_ceremony %></td>
        <td><%= link_to 'Edit', edit_award_ceremony_path(award_ceremony) %></td>
        <td><%= link_to 'Destroy', award_ceremony, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

